.WeatherDetailsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  animation: fadein 2s;
}

.WeatherIconWrapper {
  align-self: center;
}

.WeatherDataWrapper {
  align-self: flex-start;
}

@media only screen and (min-width: 600px) {
  .WeatherDetailsWrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .WeatherDataWrapper {
    align-self: center;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Icon {
  display: block;
  width: 7.875rem;
  margin: 2rem auto;
}

.DateWrapper {
  color: var(--color-gray-dark);
  font-size: 1rem;
  letter-spacing: 1px;
}

.DescriptionWrapper {
  color: var(--color-gray-dark);
  font-size: 1.875rem;
  letter-spacing: 0.5px;
  margin: 0.5rem 0;
}

.TemperatureWrapper {
  color: var(--color-gray-dark);
  font-size: 2.8rem;
  margin: 0.5rem 0;
}

.TemperatureWrapper .TemperatureSymbol {
  font-size: 2rem;
}

.TemperatureMode {
  font-size: 2rem;
}
