.ErrorNoticeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-gray);
  padding: 2rem;

  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.NotFound404 {
  opacity: 0.09;
  font-size: 6.25rem;
  line-height: 100%;
  margin: 0;
}

.NotFoundHeading {
  font-size: 2.5rem;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

.NotFoundDetails {
  font-size: 1.25rem;
}

@media only screen and (min-width: 600px) {
  .ErrorNoticeWrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .ErrorTextWrapper {
    max-width: 190px;
  }

  .NotFound404 {
    line-height: 140%;
  }
}
