.carousel-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  bottom: 180px;
}

.carousel-indicator.current-slide {
  background-color: var(--color-primary);
}

.carousel-indicator {
  margin: 0 3px;
  width: 30px;
  height: 2px;
  background-color: transparent;
  background-color: var(--color-secondary);
}
