.Button {
  background-color: var(--color-yellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  box-shadow: var(--secondary-box-shadow);
  transition: all 500ms ease;
  margin-top: 1rem;
}

.Button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.Button:active,
.Button:focus {
  outline: none;
}

.ButtonWrapper {
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .Button input {
    margin: 0px;
  }
}
