.InputFieldWrapper input {
  border: var(--color-yellow) solid 1px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  box-shadow: var(--secondary-box-shadow);
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: none;
  color: var(--color-white);
}

.InputFieldWrapper input::placeholder {
  color: var(--color-gray);
  opacity: 1;
  line-height: normal !important;
}

.InputFieldWrapper input:focus,
.InputFieldWrapper input:active {
  outline: none;
}

@media only screen and (min-width: 600px) {
  .InputFieldWrapper input {
    margin-right: 1rem;
  }
}
