.forecastWrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  text-transform: capitalize;
}

.day {
  letter-spacing: 1.5px;
  font-size: 1.25rem;
}

.forecastItem {
  color: var(--color-white);
  min-width: 90px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.temperature {
  font-size: 1.45rem;
}

.temperatureSymbol {
  font-size: 1.15rem;
}

.item {
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 8.875rem;
  margin: 0 auto;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 2s ease;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 2s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
