.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  width: 100%;
  max-width: 280px;
  height: 100%;
  max-height: 400px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
}

@media only screen and (min-width: 600px) {
  .Card {
    max-width: 472px;
    max-height: 246px;
  }
}
